# R-specific files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.Rprofile

# RStudio files
.Rproj.user/
.Rbuildignore
.Renviron

# Package build outputs
*.tar.gz
*.Rcheck/

# Compiled code
*.o
*.so
*.dll

# Other files
.DS_Store  # macOS specific
Thumbs.db  # Windows specific
*.swp      # Vim swap files
*~         # Backup files created by some text editors

# If using renv for package dependency management
renv/
renv.lock
